body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.main-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background: #ffff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* main content section */
.main-content-section {
  padding: 100px 215px 110px 90px;
}
}
.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin: 20px 0 10px 0;
}

/* about me section */
.about-me-section {
  margin: 0 0 40px 0;
  }
.about-me-proffession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0 0 20px 0;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 25px 0;
}
.about-me-description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin: 0 0 25px 0;
}

/* project section */

.projects-section {
  margin: 0 0 50px 0;
}
.project-list {
  padding: 0 0 0 17px;
}
.projects-item {
  color: #000;
  font-weight: bold;
}
.projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin: 0 0 0 5px;
}
.project-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-decoration:none;
}
.projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

/* work experience */
.work-expirience{
  margin-bottom: 45px;
  margin-top:  160px;
}
.work-expirience-company {
  margin: 45px 15px 0 0;
  width: 525px;
  }

.company {
  color: #f86d3a;
}
.work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.work-expirience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.work-expirience-divider {
  color: #000;
}
.work-expirience-duties {
  padding: 0 0 0 18px;
}
.work-expirience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* education section */
.institution {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 0 0 10px 0;
}
.specialty {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 10px 0;
}
.education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.education-divider {
  color: #000;
}

/* sidebar section */
.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.contacts-section,
.tech-skills-section,
.soft-skills-section {
  margin: 50px 0 0 40px;
}

.sidebar-tittle {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: white;
  margin-bottom: 10px;
}

/* contacts section */
.contacts-section-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: white;
  margin-right: 7px;
}
.contacts-section-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
  font-style: normal;
  text-decoration:none;
}
/* skills list */
.tech-skills-list,
.soft-skills-list {
  padding: 0 0 0 17px;
}
.tech-skills-items,
.soft-skills-items {
  color: #fb6d3a;
}
.tech-skills-items-text,
.soft-skills-items-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
